.App {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 20px;
}

.grid-container {
  margin-right: 20px;
}

.controls {
  margin-bottom: 20px;
}

.spanagram-item {
  margin-top: 20px;
}

.words-list {
  margin-top: 20px;
}

.words-list ul {
  list-style-type: none;
  padding: 0;
}

.words-list li {
  margin-bottom: 5px;
}